.lobby-top-bar {
    background-color:orange !important;
    height: 80px;
    display: flex;
    justify-content: center;
    padding:10px;
    font-size: 30px;
    margin-bottom: 20px;
}

.lobby-select-game-warning-container {
    
    height:100%;
    width:100%;
    
}
.grid-container {
    height: 100%;
}