.player-move-item-content {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;

    .player-avatar {
        background-color: cornflowerblue; 
        margin-bottom:20px;
        margin-top:10px;
    }
}